@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
    
  }

  .splide__pagination__page {
    border: 3px solid black!important;
  }

  body {
    overflow-x: hidden;
    background-image: url(/public/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: 70% -350px;
    background-size: 800px;
  }


  h2 {
    @apply text-4xl font-bold mb-8 text-center text-dark-blue;
  }
  .btn-primary {
    @apply bg-bright-red px-4 py-3 text-white rounded-3xl md:block hover:opacity-50 hover:drop-shadow-lg;
  }

  .fa-brands {
    @apply hover:text-bright-red transition my-3 text-4xl md:text-3xl hover:cursor-pointer;
  }
  p {
    font-size: 16px;
    @apply text-greyish-blue;
  }

  .mobile-navbar {
    @apply bg-white shadow-lg font-bold absolute top-24 w-[90%] mx-auto ml-5 flex flex-col space-y-6 left-0 p-4 text-center md:hidden ;
    box-shadow: 0 0 10000px 10000px rgba(0, 0, 0, 0.336);
  }

  .mobile-navbar ul li {
    @apply block my-4;
  }

  .cta {
    background-image: url(/images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
    @apply w-full bg-bright-red mt-8 md:mt-20 md:h-64 h-96  flex items-center;
    /*  */

  }

  .my-splide .splide__pagination__page {
  background-color: #ccc;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.my-splide .splide__pagination__page.is-active {
  background-color: #000;
}
}