@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
    
  }

  .splide__pagination__page {
    border: 3px solid black!important;
  }

  body {
    overflow-x: hidden;
    background-image: url(/public/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: 90% -350px;
    background-size: 800px;
  }


  h2 {
    @apply text-4xl font-bold mb-8 text-center;
  }
  .btn-primary {
    @apply bg-bright-red px-4 py-3 text-white rounded-3xl hidden md:block hover:opacity-50 hover:drop-shadow-lg;
  }

  p {
    font-size: 16px;
    @apply text-greyish-blue;
  }

  .mobile-navbar {
    @apply bg-white shadow-lg font-bold absolute top-16 w-full flex flex-col space-y-6 left-0 p-4 text-center md:hidden block;
  }

  .mobile-navbar ul li {
    @apply block my-4;
  }

  .cta {
    background-image: url(/images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    @apply w-full bg-bright-red mt-20;
    /*  */

  }
}